<section id="about">
    <h2>About Me</h2>
    <p>I’m passionate about building full-stack solutions to real world problems</p>
  </section>
  
  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li><strong>Frontend:</strong> Angular, React, Flutter</li>
      <li><strong>Backend:</strong> Spring Boot (Java), Python, FastAPI</li>
    </ul>
  </section>
<!--   
  <section id="projects">
    <h2>Projects</h2>
    <p>Showcase some of your best work here.</p>
  </section> -->
  
  <section id="contact">
    <h2>Let’s Connect</h2>
    <ul>
      <li><a href="https://www.linkedin.com/in/nikhilkumarmishra/" target="_blank">LinkedIn</a></li>
      <li><a href="mailto:nikhilkumarmishra2@gmail.com">Gmail</a></li>
    </ul>
  </section>
  